<div class="btn-group" role="group" aria-label="Basic example">
    <div class="input-group">
      <input type="number" class="form-control" placeholder="Amount" aria-describedby="basic-addon2" [(ngModel)]="amount" [ngModelOptions]="{standalone: true}">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="invokeDeposit()" >Deposit</button>
        <button class="btn btn-outline-secondary" type="button" (click)="invokeWithdraw()" >Withdraw</button>
      </div>
    </div>
      <button type="button" class="btn btn-primary"  (click)="invokeUpdate()">Update</button>
    <button type="button" class="btn btn-danger"  (click)="invokeDelete()">Delete</button>
</div> 

<div class="update-group" *ngIf=showUpdate  >
  <div class="input-group">
    <input type="text" placeholder="Enter New Product Name" class="form-control"  [(ngModel)]="updatedItem.name">
    <input type="text" placeholder="Enter New Product Description" class="form-control"  [(ngModel)]="updatedItem.description">
    <input type="number" placeholder="Enter New Amount" class="form-control"  [(ngModel)]="updatedItem.count">
  </div>
</div>
