.buttons-mirgin button {
    margin-top: 5px;
    margin-right:3px ;
}

.withdraw-color{
    color: #fff;
    background-color: #eb7629;
    border-color: #eb7629;
}

.deposit-color{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}