<div class="btn-group" role="group" aria-label="Basic example"  style="display:grid">
    <div class="input-group">
      <input type="number" class="form-control" placeholder="Amount to withdraw or deposit" aria-describedby="basic-addon2" [(ngModel)]="amount" name="amount">
      <div class="input-group-append buttons-mirgin">
        <button class="btn btn-outline-secondary deposit-color"  type="button" (click)="invokeDeposit()"  >Deposit</button>
        <button class="btn btn-outline-secondary withdraw-color" type="button" (click)="invokeWithdraw()" >Withdraw</button>
        <button type="button" class="btn btn-primary"  (click)="invokeUpdate()">Update</button>
        <button type="button" class="btn btn-danger"  (click)="invokeDelete()">Delete</button>
      </div>
    </div>
    <div class="update-group" *ngIf=showUpdate   >
      <div class="input-group">
        <input type="text" placeholder="Enter New Product Name" class="form-control"  [(ngModel)]="updatedItem.name">
        <input type="text" placeholder="Enter New Product Description" class="form-control"  [(ngModel)]="updatedItem.description">
        <input type="number" placeholder="Enter New Amount" class="form-control"  [(ngModel)]="updatedItem.count">
      </div>
    </div>
  <div  class="alert alert-danger" *ngIf="errorMessage">
    <p>{{errorMessage}}</p>
</div>  
</div> 

